<div class="container">
  <div fxLayout="column" fxLayoutAlign="center center" class="head">
    <input
      (keydown.enter)="getWeather()"
      [(ngModel)]="userInput"
      placeholder="Enter City or Zipcode"
    />
    <button
      (click)="getWeather()"
      class="get-weather"
      mat-raised-button
      color="primary"
    >
      Get Weather
    </button>
  </div>
  <div class="wrapper" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="city-name">{{ cityName }}</h1>
    <div *ngIf="areCardsShown()" fxLayout="row" fxLayout.lt-md="column">
      <mat-card
        *ngFor="let forecast of forecastReadingsByDay; let i = index"
        class="weather-card"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <h2>{{ forecast.dayOfWeek }}</h2>
        <div fxLayout="row" fxLayoutAlign="center center">
          <img
            class="weather-icon"
            [src]="
              'http://openweathermap.org/img/wn/' +
              forecast.forecasts[0].weather[0].icon +
              '@2x.png'
            "
          />
          {{ forecast.forecasts[0].weather[0].description }}
        </div>

        <h1>{{ forecast.forecasts[0].main.temp.toFixed(0) }}&deg;F</h1>
        <p>
          {{ forecast.forecasts[0].main.temp_max.toFixed(0) }}&deg;F/{{
            forecast.forecasts[0].main.temp_min.toFixed(0)
          }}&deg;F
        </p>
        <p>Min: {{ dataTrackerForcasts[i].showMin().toFixed(0) }}&deg;F</p>
        <p>Max: {{ dataTrackerForcasts[i].showMax().toFixed(0) }}&deg;F</p>
        <p>Mean: {{ dataTrackerForcasts[i].showMean().toFixed(0) }}&deg;F</p>
        <p>Mode: {{ dataTrackerForcasts[i].showMode() }}</p>
      </mat-card>
    </div>
  </div>
</div>
<footer fxLayout="row" fxLayoutAlign="center center">
  made by
  <div class="name">
    <a href="https://www.aidenschrock.me" target="_blank">Aiden Schrock</a>
  </div>
  2021
</footer>
